main {
  padding: 30px;
  text-align: center;

  button {
    @include button_effect($red);
  }

  .queue {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    margin: 50px 0;
    text-align: left;
    counter-reset: pizza;
  }
}

.pizza {
  position: relative;
  background-color: $dark-red;
  border: 5px solid $dark-gray;
  counter-increment: pizza;
  transition: .3s;

  img {
    max-width: 100%;
  }

  &::before {
    content: counter(pizza);
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $dark-gray;
  }

  &:hover {
    box-shadow: 0 0 30px $dark-gray;
  }
}

.order-info {
  padding: 10px;
  background: $dark-red;
  line-height: 1.5rem;
  overflow: auto;
        
  .time-of-order,
  .ready-in {
    float: left;
    clear: left;
  }

  .price {
     float: right;
  }
}