$dark-green: #172a2e;
$yellow: #e8b92e;
$dark-blue: #0D47A1;
$blue: #1565C0;
$light-blue: #42A5F5;
$white-blue: #90CAF9;
$red: #e82e2e;
$dark-red: #C21111;

%base-font-set {
  font-family: 'Bubbler One', sans-serif;
  letter-spacing: 2px;
}

%extra-font-set {
  font-family: Helvetica;
  letter-spacing: 2px;
}
