button {
  position: relative;
  width: 230px;
  padding: 10px 20px;
  background: none;
  border: none;
  font-family: $base-font-family;
  font-size: $lg-font-size;
  outline: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    transition: .3s;
    z-index: -1;
  }

  &:hover::before,
  &:focus::before {
    top: 0;
  }
}
