$base-font-family: 'Ubuntu Mono';
$base-font-size: 1.2rem;
$lg-font-size: 1.3rem;

$red: #ff5023;
$dark-red: #bd3c1a;
$dark-gray: #444;

@mixin button_effect ($color) {
  color: $color;
  border: 3px solid $color;

    &:hover,
    &:focus {
      color: #fff;
    }

    &::before {
      background: $color;
    }
}